.minor-navbar,
.router {
  max-width: 1200px;
  width: 100%;
  margin-top: 1rem;

  .mat-tab-label-active {
    opacity: 1;
  }
}

.container-element {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
}

.btn {
  border: 1px solid var(--tertiary-color);
  padding: 0.5rem 1.5rem;
  &:hover {
    border-color: var(--tertiary-color);
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: unset;
    border-inline-end: none;
  }
}
