<div class="row justify-content-center" *ngIf="user">
  <div class="col-12 minor-navbar rounded-3 container-element">
    <div class="d-flex justify-content-center w-100">
      <nav mat-tab-nav-bar mat-align-tabs="center" class="w-100">
        <a
          mat-tab-link
          [routerLink]="['./profile']"
          routerLinkActive="mat-tab-link-active"
          (click)="activateTab('profile')"
          [active]="activeLink === 'profile'"
          >Profilo
        </a>
        <a
          mat-tab-link
          [routerLink]="['./services']"
          routerLinkActive="mat-tab-link-active"
          *ngIf="user.role.toLocaleLowerCase() === 'freelancer'"
          (click)="activateTab('services')"
          [active]="activeLink === 'services'"
          >Servizi
        </a>
        <a
          mat-tab-link
          [routerLink]="['./expertAppointments']"
          routerLinkActive="mat-tab-link-active"
          *ngIf="user.role.toLocaleLowerCase() === 'freelancer'"
          (click)="activateTab('expertAppointments')"
          [active]="activeLink === 'expertAppointments'"
          >Appuntamenti
        </a>
        <a
          mat-tab-link
          [routerLink]="['./clientAppointments']"
          routerLinkActive="mat-tab-link-active"
          *ngIf="user.role.toLocaleLowerCase() === 'client'"
          (click)="activateTab('clientAppointments')"
          [active]="activeLink === 'clientAppointments'"
          >Appuntamenti
        </a>
        <a
          mat-tab-link
          [routerLink]="['./expertReviews']"
          routerLinkActive="mat-tab-link-active"
          *ngIf="user.role.toLocaleLowerCase() === 'freelancer'"
          (click)="activateTab('expertReviews')"
          [active]="activeLink === 'expertReviews'"
          >Recensioni
        </a>
        <a
          mat-tab-link
          [routerLink]="['./clientReviews']"
          routerLinkActive="mat-tab-link-active"
          *ngIf="user.role.toLocaleLowerCase() === 'client'"
          (click)="activateTab('clientReviews')"
          [active]="activeLink === 'clientReviews'"
          >Recensioni
        </a>
      </nav>
    </div>
  </div>
  <div class="col-12 rounded-3 container-element router">
    <router-outlet></router-outlet>
  </div>
</div>
