<div class="row py-1 hero-bg d-flex justify-content-center">
  <div class="col-12 hero">
    <div class="row px-3">
      <div class="col-12 col-md-7 p-4 d-flex align-items-center">
        <div>
          <h1 class="fw-bold mb-4">
            Cerca e Trova il <span>Servizio</span><br />
            di cui hai <span>Bisogno</span>!
          </h1>
          <p class="mb-4">
            Con il nostro servizio, la tua ricerca diventa una esperienza senza
            sforzo!
          </p>
        </div>
      </div>
      <div class="d-none d-md-flex col-5 p-4">
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="img-fluid d-inline-block"
            src="../../../assets/Hero_2.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="under-hero w-100 px-3">
    <router-outlet></router-outlet>
  </div>
</div>
