<div class="wrapper text-bg-dark">
  <div class="footer d-flex justify-content-center">
    <div class="row">
      <div class="col-12 mt-5">
        <p>Seguici sui social</p>
        <div class="d-flex justify-content-center gap-4">
          <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
      </div>

      <ul class="col-12 my-5">
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
      </ul>

      <div class="col-12 mt-3">
        <p>
          Copyright © 2024 - All rights reserved || Designed By: Otman Karim
        </p>
      </div>
    </div>
  </div>
</div>
