input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 2;
  padding: -10px;
  font-size: 2rem;
  position: absolute;
  right: 1px;
}

.fa-calendar-days {
  margin-right: 3px;
}

.login-form {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.text-custom {
  color: var(--text-color);
}

.bg-role {
  background-color: var(--white);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  &:hover {
    background-color: var(--tertiary-color);
    color: var(--white);
  }
}

.role-container label {
  text-align: center;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
}

.role-container input[type="radio"]:checked + label {
  color: var(--white);
  background-color: var(--tertiary-color);
}

input[type="radio"] {
  display: none;
}

.form-control {
  color: var(--text-color);
  font-weight: 500;
  background-color: var(--white);

  &:focus {
    color: var(--text-color);
    box-shadow: none;
  }
}

.form-size {
  max-width: 600px;
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
