.name {
  font-weight: 500;
}

.card {
  max-width: 400px;
}

.btn-custom {
  padding-block: 0.5rem;
  padding-inline: unset;

  &:last-of-type {
    color: white;
    background-color: var(--text-color);

    &:hover {
      opacity: 0.8;
    }
  }
}
p {
  margin: 0;

  span {
    font-weight: 500;
  }

  .status-pending {
    background-color: #ffe4d3;
    color: #ff9971;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .status-confirmed {
    background-color: #d5ffeb;
    color: #317f4c;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .status-declined {
    background-color: #ffd5d5;
    color: #7f3131;
    width: fit-content;
    padding: 0.1rem 0.5rem;
    border-radius: 50px;
    font-size: 0.7rem;
    font-weight: bold;
  }
}
