h1,
h3 {
  span {
    color: var(--secondary-color);
  }
}

.hero-bg {
  background-color: var(--primary-color);
}

.hero {
  background-color: var(--primary-color);
  max-width: 1200px;
}

.under-hero {
  background-color: var(--white);
  width: 1200px;

  .position-custom {
    bottom: calc(0px - 3rem - (137px / 2));

    .number-top {
      font-size: 0.9rem;
      font-weight: 400;
    }

    .number {
      font-size: 3.5rem;
      font-weight: 500;
    }
  }

  i {
    color: black;
    font-size: 1.8rem;

    i:first-child {
      font-size: 0.8rem;
      top: 0px;
      right: -0.9rem;
      color: var(--secondary-color);
    }
    i:nth-child(2) {
      font-size: 1.3rem;
      top: 5px;
      left: -5px;
      opacity: 0.3;
      color: var(--secondary-color);
    }
  }
}

.btn-hero {
  background-color: var(--secondary-color);

  &:hover {
    background-color: var(--text-color);
  }
}
