<div class="row py-1 hero-bg d-flex justify-content-center">
  <div class="col-12 hero">
    <div class="row px-3">
      <div class="col-12 col-md-7 p-4 d-flex align-items-center">
        <div>
          <h1 class="fw-bold mb-4">
            Trova un <span>Esperto</span> e<br />
            Prenota un <span>Appuntamento</span>!
          </h1>
          <p class="mb-4">
            Esplora una vasta rete di professionisti pronti a soddisfare le tue
            esigenze. Trova soluzioni affidabili e realizza i tuoi progetti.
          </p>
          <button
            class="btn btn-hero text-white px-4"
            [routerLink]="['/experts']"
          >
            Trova un professionista
          </button>
        </div>
      </div>
      <div class="d-none d-md-flex col-5 p-4">
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="img-fluid d-inline-block"
            src="../../../assets/Hero-Img.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row under-hero">
  <div class="col-12 d-flex flex-column align-items-center p-4">
    <div class="text-center py-2">
      <h2 class="fw-bold fs-4">Come Funziona?</h2>
      <p class="m-0">
        <span class="fw-bold">4 Step</span> per raggiungere la tua
        <span class="fw-bold">soluzione</span>!
      </p>
    </div>
    <div class="d-flex justify-content-center mt-4 text-center row">
      <div
        class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
      >
        <i class="fa-solid fa-tablet-screen-button position-relative">
          <i class="fa-solid fa-magnifying-glass position-absolute"></i>
          <i class="fa-solid fa-circle position-absolute"></i>
        </i>
        <h6 class="fw-bold mt-2">Cerca un Servizio</h6>
        <p>Trova il servizio più adatto</p>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
      >
        <i class="fa-regular fa-user position-relative">
          <i class="fa-solid fa-users-viewfinder position-absolute"></i>
          <i class="fa-solid fa-circle position-absolute"></i>
        </i>
        <h6 class="fw-bold mt-2">Consulta il Profilo</h6>
        <p>Scegli tra i nostri esperti</p>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
      >
        <i class="fa-regular fa-calendar position-relative">
          <i class="fa-regular fa-circle-check position-absolute"></i>
          <i class="fa-solid fa-circle position-absolute"></i>
        </i>
        <h6 class="fw-bold mt-2">Prenota</h6>
        <p>Prenota un Appuntamento</p>
      </div>
      <div
        class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
      >
        <i class="fa-regular fa-lightbulb position-relative">
          <i class="fa-solid fa-bolt position-absolute"></i>
          <i class="fa-solid fa-circle position-absolute"></i>
        </i>
        <h6 class="fw-bold mt-2">Trova la soluzione</h6>
        <p>Trova la soluzione più adatta ai tuoi requisiti</p>
      </div>
    </div>
  </div>
</div>
