<div class="row py-1 hero-bg d-flex justify-content-center">
  <div class="col-12 hero">
    <div class="row px-3">
      <div class="col-12 col-md-7 p-4 d-flex align-items-center">
        <div>
          <h1 class="fw-bold mb-4">
            Trova un <span>Esperto</span> e<br />
            Prenota un <span>Appuntamento</span>!
          </h1>
          <p class="mb-4">
            Esplora una vasta rete di professionisti pronti a soddisfare le tue
            esigenze. Trova soluzioni affidabili e realizza i tuoi progetti.
          </p>
          <button
            class="btn btn-hero text-white px-4"
            [routerLink]="['/services']"
          >
            Inizia la ricerca
          </button>
        </div>
      </div>
      <div class="d-none d-md-flex col-5 p-4">
        <div class="d-flex align-items-center justify-content-center">
          <img
            class="img-fluid d-inline-block"
            src="../../../assets/Hero-Img.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <div class="row under-hero position-relative justify-content-center mb-lg-5">
    <div
      class="d-none d-lg-block bg-c-primary py-3 position-absolute w-75 position-custom"
    >
      <div class="d-flex justify-content-around">
        <div class="text-center d-flex flex-column">
          <span class="number-top">ACTIVE EXPERTS</span
          ><span class="number">100K+</span>
        </div>
        <div class="border"></div>
        <div class="text-center d-flex flex-column">
          <span class="number-top">CLIENTS SATISFIED</span
          ><span class="number">1M+</span>
        </div>
        <div class="border"></div>
        <div class="text-center d-flex flex-column">
          <span class="number-top">REVIEWS</span
          ><span class="number">750K+</span>
        </div>
      </div>
    </div>
    <div class="col-12 d-flex flex-column align-items-center p-4">
      <div class="text-center py-2">
        <h2 class="fw-bold fs-4">Come Funziona?</h2>
        <p class="m-0">
          <span class="fw-bold">4 Step</span> per raggiungere la tua
          <span class="fw-bold">soluzione</span>!
        </p>
      </div>
      <div class="d-flex justify-content-center mt-4 text-center row">
        <div
          class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
        >
          <i class="fa-solid fa-tablet-screen-button position-relative">
            <i class="fa-solid fa-magnifying-glass position-absolute"></i>
            <i class="fa-solid fa-circle position-absolute"></i>
          </i>
          <h6 class="fw-bold mt-2">Cerca un Servizio</h6>
          <p>Trova il servizio più adatto</p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
        >
          <i class="fa-regular fa-user position-relative">
            <i class="fa-solid fa-users-viewfinder position-absolute"></i>
            <i class="fa-solid fa-circle position-absolute"></i>
          </i>
          <h6 class="fw-bold mt-2">Consulta il Profilo</h6>
          <p>Scegli tra i nostri esperti</p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
        >
          <i class="fa-regular fa-calendar position-relative">
            <i class="fa-regular fa-circle-check position-absolute"></i>
            <i class="fa-solid fa-circle position-absolute"></i>
          </i>
          <h6 class="fw-bold mt-2">Prenota</h6>
          <p>Prenota un Appuntamento</p>
        </div>
        <div
          class="col-12 col-sm-6 col-lg-3 p-4 d-flex flex-column align-items-center"
        >
          <i class="fa-regular fa-lightbulb position-relative">
            <i class="fa-solid fa-bolt position-absolute"></i>
            <i class="fa-solid fa-circle position-absolute"></i>
          </i>
          <h6 class="fw-bold mt-2">Trova la soluzione</h6>
          <p>Trova la soluzione più adatta ai tuoi requisiti</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row py-2 hero-bg d-flex justify-content-center">
  <div class="col-12 hero mt-lg-5 py-5"></div>
</div>
<div class="row py-5 d-flex justify-content-center">
  <div class="col-12 mt-lg-5">
    <div class="row px-3">
      <div class="col-12 p-4 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h3 class="fw-bold my-4">
            Prova il nostro <span>Servizio</span> e scala il tuo
            <span>Business</span>!
          </h3>
          <button
            class="btn btn-hero text-white px-4"
            [routerLink]="['/services']"
          >
            Prova ora
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
