.search {
  border: 1px solid darkgrey;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  &::placeholder {
    font-size: 0.9rem;
  }

  &:focus {
    outline: none;
  }

  &::-webkit-search-cancel-button {
    background-image: url("../../../assets/circle-xmark-solid.svg");
    background-size: contain;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
