<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-2 bg-custom rounded-2 mb-3">
      <!-- BARRA GESTIONE -->
      <h5 class="fw-bold">Profilo</h5>
    </div>
    <div *ngIf="user" class="col-12 card border-0 bg-secondary-subtle">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-4 d-flex justify-content-center">
            <img
              width="150px"
              class="img-thumbnail bg-transparent rounded-4"
              src="{{ user.avatar }}"
              alt=""
            />
          </div>
          <div class="col-12 col-md-8">
            <h4 class="card-title text-truncate">
              {{ user.name }} {{ user.surname }}
            </h4>
            <p class="d-flex align-items-baseline gap-2 m-0">
              <i class="fa-solid fa-briefcase"></i>
              {{ user.role | lowercase }}
            </p>
            <p class="d-flex align-items-baseline gap-2 m-0">
              <i class="fa-solid fa-envelope"></i>
              {{ user.email | lowercase }}
            </p>
            <p class="d-flex align-items-baseline gap-2 m-0">
              <i class="fa-solid fa-phone"></i>
              {{ user.phone | lowercase }}
            </p>
            <p class="d-flex align-items-baseline gap-2 m-0">
              <i class="fa-solid fa-cake-candles"></i>
              {{ user.birthday | lowercase }}
            </p>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-custom rounded-2"
            data-bs-toggle="collapse"
            data-bs-target="#editForm"
            aria-expanded="false"
            aria-controls="editForm"
          >
            Modifica
          </button>
        </div>
      </div>
      <div class="collapse" id="editForm">
        <div class="form-container px-3">
          <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
              <form
                #registerForm="ngForm"
                (ngSubmit)="editMe(registerForm)"
                class="px-5 p-3 form-size w-100 login-form rounded-3"
              >
                <div class="mb-3 d-flex justify-content-center row">
                  <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <label for="name" class="form-label">Nome</label>
                    <div class="position-relative">
                      <div class="position-absolute end-0 mt-1 me-2 z-1">
                        <i class="fa-solid fa-address-card text-custom"></i>
                      </div>
                      <input
                        type="text"
                        name="name"
                        class="form-control border-0"
                        required
                        [(ngModel)]="user.name"
                      />
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <label for="surname" class="form-label">Cognome</label>
                    <div class="position-relative">
                      <div class="position-absolute end-0 mt-1 me-2 z-1">
                        <i class="fa-solid fa-address-card text-custom"></i>
                      </div>
                      <input
                        type="text"
                        name="surname"
                        class="form-control border-0"
                        required
                        [(ngModel)]="user.surname"
                      />
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <div class="position-relative">
                    <div class="position-absolute end-0 mt-1 me-2 z-1">
                      <i class="fa-solid fa-envelope text-custom"></i>
                    </div>
                    <input
                      type="email"
                      name="email"
                      class="form-control border-0"
                      required
                      email
                      [(ngModel)]="user.email"
                      [ngClass]="{
                                      'shake-horizontal':
                                      registerForm.controls['email'] && registerForm.controls['email'].errors?.['email'] && registerForm.controls['email'].touched
                                    }"
                    />
                    <div
                      *ngIf="registerForm.controls['email'] && registerForm.controls['email'].errors?.['email'] && registerForm.controls['email'].touched"
                    >
                      <span class="text-danger opacity-75"
                        >Email non valida!</span
                      >
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="position-relative">
                    <div class="position-absolute end-0 mt-1 me-2 z-1">
                      <button
                        type="button"
                        class="btn p-0 m-0"
                        (mousedown)="showPasswordOrNot()"
                        [class.hide]="showPassword"
                      >
                        <i class="fa-solid fa-eye text-custom"></i>
                      </button>
                      <button
                        type="button"
                        class="btn p-0 m-0"
                        (mouseup)="showPasswordOrNot()"
                        [class.hide]="!showPassword"
                      >
                        <i class="fa-solid fa-eye-slash text-custom"></i>
                      </button>
                    </div>
                    <input
                      [type]="showPassword ? 'text' : 'password'"
                      class="form-control border-0"
                      name="password"
                      [minlength]="8"
                      required
                      ngModel
                      [ngClass]="{
                        'shake-horizontal':
                          registerForm.controls['password'] &&
                          registerForm.controls['password'].touched &&
                          registerForm.controls['password'].invalid
                      }"
                    />
                    <div
                      *ngIf="
                        registerForm.controls['password'] &&
                        registerForm.controls['password'].touched &&
                        registerForm.controls['password'].invalid
                      "
                    >
                      <span class="text-danger opacity-75">
                        La password deve essere di almeno 8 caratteri!
                      </span>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="phone" class="form-label">Telefono</label>
                  <div class="position-relative">
                    <div class="position-absolute end-0 mt-1 me-2 z-1">
                      <i class="fa-solid fa-phone text-custom"></i>
                    </div>
                    <input
                      type="text"
                      name="phone"
                      class="form-control border-0"
                      [minlength]="10"
                      required
                      [(ngModel)]="user.phone"
                    />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="birthday" class="form-label"
                    >Data di Nascita</label
                  >
                  <div class="position-relative">
                    <div class="position-absolute end-0 mt-1 me-2 z-1">
                      <i class="fa-solid fa-calendar-days text-custom"></i>
                    </div>
                    <input
                      type="date"
                      name="birthday"
                      class="form-control border-0"
                      [minlength]="10"
                      required
                      [(ngModel)]="user.birthday"
                    />
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-light px-5 fw-bold mt-3"
                    [disabled]="registerForm.invalid"
                  >
                    Salva
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
