<div class="container-fluid">
  <div class="row">
    <div
      class="col-12 d-flex align-items-center bg-white rounded-2 p-2 mb-3 gap-2"
    >
      <button class="btn btn-custom py-2" (click)="addService(categories)">
        <i class="fa-solid fa-circle-plus"></i> Aggiungi Servizio
      </button>
      <button class="btn btn-custom py-2" (click)="toggleEditMode()">
        <i class="fa-solid fa-gear"></i>
        {{ editMode ? "Disattiva" : "Attiva" }} Modifiche
      </button>
    </div>
    <!-- SERVICE LIST -->
    <div
      class="col-12 col-md-6 col-xl-4 mb-3 bg-white p-3 rounded-2 position-relative"
      *ngFor="let singlePerformance of services"
    >
      <div *ngIf="editMode" class="position-absolute p-2 custom-top z-1">
        <div class="d-flex justify-content-center gap-2">
          <button
            (click)="editService(categories, singlePerformance)"
            class="btn-custom fw-medium text-start rounded-2"
          >
            <i class="fa-solid fa-square-pen"></i> Modifica
          </button>
          <button
            (click)="
              deleteService(singlePerformance.title, singlePerformance.id)
            "
            class="btn-custom fw-medium text-start rounded-2"
          >
            <i class="fa-solid fa-square-minus"></i> Elimina
          </button>
        </div>
      </div>
      <app-performance-card [performance]="singlePerformance">
      </app-performance-card>
    </div>
  </div>
</div>
